.grid.grid {
  display: flex;
  gap: 2em;              
  flex-wrap: wrap;      
  justify-content: center;/
}

h1 {
  text-align: center;
  color: #f5a7be;
  font-family: 'Dancing Script', cursive;

}

h2 {
  text-align: center;
  color: #f5a7be;
}

h3 {
  text-align: center;
  color: #f5a7be;
}

ul{
    text-align: center;
    color:  #df92a9;
}

img {
  width: 350px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.profile {
  background: #fff5fb;    
  border: 2px solid rgb(255, 218, 238); /* border */
  border-radius: 15px;    
  padding: 1.5em;
  width: 220px;           /* fixed width for box */
  text-align: center;
  box-shadow: 0 4px 8px rgba(196, 26, 136, 0.1); /* subtle shadow */
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;     /* circle profile pic */
  object-fit: cover;
  border: 3px solid #d4abc2; /* white border around img */
  margin-bottom: 1em;
}

.side-text {
  position: absolute;
  bottom: 10px;   /* distance from bottom */
  right: 10px;    /* distance from right */
  font-size: 12px;
  color:#d4abc2;; /* pastel pink */
  font-family: Arial, sans-serif;
}
